<p id="notice"><%= notice %></p>

<h1>Listing Employees</h1>

<table>
  <thead>
    <tr>
      
      <th>F name</th>
      <th>L name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Sex</th>
      <th>Dob</th>
      <th>Start date</th>
      <th>Dept</th>
      <th>Role</th>
      <th>Salary</th>
      <th>Manager</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>

        <td><%= employee.f_name %></td>
        <td><%= employee.l_name %></td>
        <td><%= employee.address %></td>
        <td><%= employee.phone %></td>
        <td><%= employee.email %></td>
        <td><%= employee.sex %></td>
        <td><%= employee.dob %></td>
        <td><%= employee.start_date %></td>
        <td><%= employee.dept %></td>
        <td><%= employee.role %></td>
        <td><%= employee.salary %></td>
        <td><%= employee.manager %></td>
        <td><%= employee.notes %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
