<div id="profile">
  
  

<p>
  <strong>First name:</strong>
  <%= @user.f_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.l_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @user.sex %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @user.dob %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @user.start_date %>
</p>

<p>
  <strong>Department:</strong>
  <%= @user.dept %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @user.salary %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @user.manager %>
</p>

<p>
  <strong>Notes/Comments:</strong>
  <%= @user.notes %>
</p>

<p>
  <strong>Active Leave Requests:</strong><br>

  <% @request.each do |request| %>
<table style="width:100%">
  <tr>
    
<td>
  <strong>Employee Name:</strong></td>
<td>
  <strong>Date Commencing:</strong></td>
<td>
  <strong>Date Ending:</strong></td>
<td>
  <strong>Leave Type:</strong></td>
  </tr>
  
  <tr>
  <td>
  <%= request.employee_name %></td>

  <td>
  <%= request.date_begin %></td>
  
  <td>
  <%= request.date_end %></td>
  
  <td>
  <%= request.leave_type %></td>
  </tr>
  </table>
    <% end %>

<br>


<%= link_to 'Edit Employee Profile', edit_path(@user) %>
</div>