<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id, "Employee ID" %><br>
    <%= f.text_field :user_id, required: true, class: 'form-control', value:current_user.user_id, :readonly => true %>
  </div>
  

  <div class="field">
    <%= f.label :employee_name %><br>
    <%= f.text_field :employee_name, required: true, class: 'form-control', value:current_user.employee_name, :readonly => true %>

  </div>
  <div class="field">
    <%= f.label :date_begin %><br>
    <%= f.date_select :date_begin %>
  </div>
  <div class="field">
    <%= f.label :date_end %><br>
    <%= f.date_select :date_end %>
  </div>
  <div class="field">
    <%= f.label :leave_type %><br>
    <%= f.select :leave_type, [['Annual Leave', 'annual leave'],['Sick Leave', 'sick leave'],['Force Majeure', 'force majeure'],['Study Leave', 'study leave'],['Maternity Leave', 'maternity leave']] %>
  </div>
  

    <%= f.hidden_field :status, required: true, class: 'form-control', value:"Pending", include_blank: false, :readonly => true %>

  
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
