<p>
  <strong>Employee Name:</strong>
  <%= @request.employee_name %>
</p>

<p>
  <strong>Date Commencing:</strong>
  <%= @request.date_begin %>
</p>

<p>
  <strong>Date Ending:</strong>
  <%= @request.date_end %>
</p>

<p>
  <strong>Leave Type:</strong>
  <%= @request.leave_type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @request.status %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
