<p id="notice"><%= notice %></p>

<p>
  <strong>Employee name:</strong>
  <%= @request.employee_name %>
</p>

<p>
  <strong>Date begin:</strong>
  <%= @request.date_begin %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @request.date_end %>
</p>

<p>
  <strong>Leave type:</strong>
  <%= @request.leave_type %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
