<!DOCTYPE html>
<html>
<head>
 <title>HR CloudApp</title>
 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>
</head>
<body>
 <div id='header'>
 <!-- Header Image Displayes here -->
 <p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit Employee Profile', edit_path(@user), :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>

<% end %>
 </div>
 <div id='menu'>
 <div id="navbar">
<ul>
<li><a href="/admin/dashboard">Administrators</a></li>
<li><%= link_to "Employee Profile", current_user %></li>
</ul>
 </div>
 </div>
 <div id='container'>
 <div id='content'>
 <p class="notice"><%= flash[:notice] %></p>
 <%= yield %>
</div>
 
 <div id='footer'>
 <h6 class="footertext">&copy; HR CloudApp &trade; 2015</h6>
 </div>
</body>
</html>