<!DOCTYPE html>
<html>
<head>
 <title>HR CloudApp</title>
 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>
</head>
<body>
 <div id='header'>
 <!-- Header Image Displayes here -->
 </div>
 <div id='menu'>
 <div id="navbar">
<ul>
<li><a href="/employees">Employees</a></li>
</ul>
 </div>
 </div>
 <div id='container'>
 <div id='content'>
 <p class="notice"><%= flash[:notice] %></p>
 <%= yield %>
</div>
 <div id='first-column'>
 <div class="loginbox">
 <h2 class="BoxHeaders">Login</h2>
</div>
 <div class="searchbox">
<h2 class="BoxHeaders">Search</h2>
</div>
 </div>
 </div>
 <div id='footer'>
 <h6 class="footertext">&copy; HR CloudApp &trade; 2015</h6>
 </div>
</body>
</html>