<!DOCTYPE html>
<html>
<head>
 <title>HR CloudApp</title>
 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>
</head>
<body>
 <div id='header'>
 <!-- Header Image Displayes here -->
 <div id='logo'>
<strong>HR CloudApp</strong></div>
 <p class="navbar-text pull-right">

<% if user_signed_in? %>
  Welcome <strong><%= current_user.employee_name %></strong>.
  <%= link_to 'Edit Employee Profile', edit_path(current_user), :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>

<% end %>
 </div>
 <div id='menu'>
 <div id="navbar">
<ul>
<!-- I have configured the navbar below to display only the Login option and a link to the Admin console if the user is not signed in. 
 When the user is signed in, the option to see Leave Requests etc. becomes visible. -->
<li><a href="/admin/dashboard">Administration</a></li>
<% if user_signed_in? %>
<li><%= link_to "Employee Profile", current_user %></li>
<li><%= link_to "Leave Requests", leaverequest_path %></li>
<% else %>
<li><%= link_to "Login", login_path %></li>
<% end %>
</ul>
 </div>
 </div>
 <div id='container'>
 <div id='content'>
 <p class="notice"><%= flash[:notice] %></p>
 <%= yield %>
</div>
 
 <div id='footer'>
 <h6 class="footertext">&copy; HR CloudApp &trade; 2015</h6>
 </div>
</body>
</html>